<main>
    <div class="main-section">
        <h1>Contact Us</h1>
        <app-form-input 
        nome_label="First Name *"
        placeholder="Type Here"
        />
        <app-form-input
        nome_label="Last Name *"
        placeholder="Type Here"
        />
        <app-form-input
        nome_label="Email adress *"
        placeholder="Type here"
        />
        <div class="message-wrapper">
            <label class="label-title">Message *</label>
            <textarea></textarea>
        </div>
        <app-confirm-button button_text="submit"></app-confirm-button>
    </div>
</main>