/* You can add global styles to this file, and also import other style files */
@use "../src/styles/variables.scss" as *;

html, body{
    background-color: $background-color;
    height: 100%;
    margin: 0;
}

*{
    font-family: "Karla", sans-serif;
}
